<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TRACKGENIX</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/modal.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>Trackgenix - Log In</title>
    </head>
    <body>
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <h2 id="modal-title"></h2>
                <span id="modal-close"></span>
              </div>
              <div id="modal-text" class="modal-text">
              </div>
            </div>
          </div>
        <header>
            <h1>Trackgenix</h1>
            <div class="burger-menu">
                <span>
                    <a href="#"><img src="../assets/icons/icons8-menú-redondeado-50.png" alt="menu"></a>
                </span>
            </div>
        </header>
        <main>
            <img src="../assets/img/LOGO-RR 1.png" alt="">
            <form id="form" class="form">
                <h1>Log in</h1>
                <div class="form-control">
                    <input type="text" placeholder="Email" id="email" />
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <input type="password" placeholder="Password" id="password"/>
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="remember">
                    <input type="checkbox" name="remember" id="login-remember-checkbox">
                    <label for="login-remember-checkbox" id="login-remember-text">Remember me</label>
                </div>
                <div class="forgot">
                    <a href="#" id="login-forgot" class="login-inputs-element">Forgot your password?</a>
                </div>
            </div>
                <div class="login-buttons-div">
                    <button class="signup-btn"><a href="../views/index.html">Back</a></button>
                    <button class="login-btn" type="submit">Log In</button>
                </div>
            </form>
        </div>
        </main>
        <script src="../js/login.js"></script>
        <script src="../js/modal.js"></script>
    </body>
</html>