* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

header {
  position: fixed;
  padding: 36px;
  width: 100%;
  height: 15%;
  top: 0%;

  background: #41426f;
}

header h1 {
  width: 199px;
  left: 40px;
  top: 50px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;
}

aside {
  position: fixed;
  width: 288px;
  height: 85%;
  top: 15%;
  padding-left: 17px;
  padding-right: 17px;
  background: #41426f;
  z-index: 10;
}

aside h2 {
  width: 102px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  padding-top: 22px;
  border-bottom: 3px solid #aace9b;
}

aside h3 {
  position: absolute;
  width: 82px;
  height: 18px;
  left: 17px;
  top: 454px;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  border-bottom: 3px solid #aace9b;

  color: #ffffff;
}

aside .sidebar-text {
  position: absolute;
  width: 255px;
  height: 108px;
  left: 17px;
  top: 505px;
  margin-bottom: 27px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

aside input#mySearch {
  width: 100%;
  height: 30px;
  margin-top: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

nav li {
  margin-top: 21px;
  padding-top: 12px;
  width: 100%;
  padding-right: 12px;
  height: 50px;
  box-sizing: border-box;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
}

nav a {
  width: 255px;
  height: 50px;
  border-radius: 5px;
}

.info ul a{
  color: white;
}

.info {
  margin-top: 300px;
}

.info li {
  margin-top: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  border-bottom: 1px solid #aace9b;
}

main,
footer {
  width: 81%;
  float: right;
  padding: 170px 52px 10px 40px;
}

.trackgenix {
  float: left;
  width: 40%;
  height: 473px;
  box-sizing: border-box;
  margin-top: 26px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #373867;
  border-top: 3px solid #373867;
}

.trackgenix-2 {
  float: left;
  width: 60%;
  height: 473px;
  box-sizing: border-box;
  margin-top: 26px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #373867;
  border-top: 3px solid #373867;
}

.trackgenix h2 {
  width: 183px;
  height: 35px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #373867;
}

.trackgenix h3 {
  width: 120px;
  height: 23px;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #373867;
}

.trackgenix-2 img {
  width: 100%;
  height: 373px;
  border-radius: 5px;
}

.trackgenix p {
  width: 411px;
  height: 234px;

  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  color: #41426f;
}

.trackgenix button {
  width: 147px;
  height: 47px;
  margin-left: 250px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.features-container {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-top: 77px;
  border-bottom: 3px solid #373867;
}

.features-container-icons {
  float: left;
  width: 10%;
  box-sizing: border-box;
  padding-top: 0px;
  margin-left: 20px;
}

.features-container h3 {
  width: 65%;
  height: 35px;
  margin-bottom: 9px;
  margin-left: 100px;

  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}

.features-container p {
  width: 65%;
  height: 107px;
  margin-bottom: 103px;
  margin-left: 100px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: #41426f;
}

.specs-title {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 26px;
}

.specs-title h2 {
  width: 420px;
  font-size: 40px;
  line-height: 47px;
  border-bottom: 3px solid #373867;
  color: #373867;
}

.specs {
  float: left;
  width: 50%;
  height: 330px;
  box-sizing: border-box;
  border-bottom: 3px solid #373867;
  margin-top: auto;
}

.arrow-container {
  float: left;
  width: 10%;
}

.specs h3 {
  width: 100%;
  height: 18px;
  margin-top: 26px;
  margin-bottom: 9px;
  padding-left: 30px;

  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

  color: #373867;
}

.specs p {
  width: 436px;
  height: 46px;
  margin-bottom: 50px;
  padding-left: 60px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #373867;
}

.contact-form {
  width: 572px;
  height: 466px;
  display: inline-block;
  margin-left: 280px;
  margin-top: 7px;
  margin-bottom: 40px;

  background: #aace9b;
  border-radius: 20px;
  padding: 0px 12px 0px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #373867;
}

.contact-form .form-group {
  display: inline-block;
  width: 49%;
  height: 37px;
  margin-top: 19px;
  margin-bottom: 18px;
}

.contact-form .form-group label {
  display: block;
}

.contact-form .form-group input {
  display: block;
  width: 100%;
  height: 37px;
  left: 0%;
  right: 0%;
  top: 23px;

  border: 1px solid #373867;
  border-radius: 4px;
}

.contact-form select {
  height: 37px;
  width: 98.5%;
  display: block;
  margin-bottom: 64px;

}

.contact-form textarea {
  height: 160px;
  width: 98.5%;
  display: block;
  margin-bottom: 20px ;
}

.contact-form #summit {
  margin-bottom: 20px;
  width: 48.5%;
  height: 50px;
  margin-left: 50%;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.about-1 {
  float: left;
  width: 40%;
  height: 280px;
  box-sizing: border-box;
  border-top: 3px solid #373867;
}

.about-1 h2 {
  width: 144px;
  height: 35px;
  margin-bottom: 15px;
  margin-top: 45px;

  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #373867;
}

.about-1 p {
  width: 330px;
  height: 161px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #373867;
}

.about-img {
  float: left;
  width: 60%;
  height: 280px;
  box-sizing: border-box;
  border-top: 3px solid #373867;
  padding-right: 50px;
}

.about-img img {
  width: 100%;
  height: 211px;
  margin-top: 45px;
  margin-right: 50px;

  border-radius: 10px;
}

.about-2 {
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px;
}
.about-2 p {
  position: inherit;
  width: 95%;
  height: 90px;
  margin-bottom: 60px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #373867;
}

.links {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  margin-top: 100px;
}

.links h3 {
  width: 100%;
  height: 47px;
  border-top: 3px solid #373867;
  padding-top: 53px;
  padding-left: 70px;
  margin-top: 53px;
  margin-bottom: 28px;
  box-sizing: border-box;

  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #373867;
}

.links li {
  width: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  padding-left: 43px;
  border-left: 3px solid #373867;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #373867;
}
.links .items {
  float: left;
  width: 32px;
  height: 20px;
  box-sizing: border-box;
  margin-bottom: 38px;
  margin-left: 20px;
}

footer {
  width: 85%;
  height: 134px;
  position: relative;
  background: #41426f;
  padding: 0%;
  align-items: center;
  margin: 0;

  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
}

footer ul {
  align-items: center;
  width: 100%;
}

footer li {
  display: inline-block;
  padding-top: 20px;
  padding-left: 48px;
  padding-right: 48px;
}

footer p {
  margin-top: 39px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
