* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

header {
  position: fixed;
  padding: 36px;
  width: 100%;
  height: 15%;
  top: 0%;

  background: #41426f;
}

header h1 {
  position: absolute;
  width: 199px;
  left: 32px;
  top: 36px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #ffffff;
}

aside {
  position: fixed;
  width: 288px;
  height: 85%;
  top: 15%;
  padding-left: 17px;
  padding-right: 17px;
  background: #41426f;
}

aside h2 {
  width: 102px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  padding-top: 22px;
  border-bottom: 3px solid #aace9b;
}

aside h3 {
  position: absolute;
  width: 82px;
  height: 18px;
  left: 17px;
  top: 454px;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  border-bottom: 3px solid #aace9b;

  color: #ffffff;
}

aside .sidebar-text {
  position: absolute;
  width: 255px;
  height: 108px;
  left: 17px;
  top: 505px;
  margin-bottom: 27px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}

aside input#mySearch {
  width: 100%;
  height: 30px;
  margin-top: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

nav li {
  margin-top: 21px;
  padding-top: 12px;
  width: 100%;
  padding-right: 12px;
  height: 50px;
  box-sizing: border-box;
  box-shadow: inset;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
}

.info {
  margin-top: 300px;
}

.info li {
  margin-top: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  border-bottom: 1px solid #aace9b;
}

main,
footer {
  width: 81%;
  float: right;
  padding: 170px 52px 10px 40px;
}

.trackgenix {
  float: left;
  width: 40%;
  height: 473px;
  box-sizing: border-box;
  margin-top: 26px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #373867;
  border-top: 3px solid #373867;
}

.trackgenix-2 {
  float: left;
  width: 60%;
  height: 473px;
  box-sizing: border-box;
  margin-top: 26px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #373867;
  border-top: 3px solid #373867;
}

.trackgenix h2 {
  width: 183px;
  height: 35px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #373867;
}

.trackgenix h3 {
  width: 120px;
  height: 23px;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #373867;
}

.trackgenix-2 img {
  width: 100%;
  height: 373px;
  border-radius: 5px;
}

.trackgenix p {
  width: 411px;
  height: 234px;

  font-weight: 400;
  font-size: 21px;
  line-height: 25px;

  color: #41426f;
}

.trackgenix button {
  width: 147px;
  height: 47px;
  margin-left: 250px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.features-container {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-top: 77px;
  border-bottom: 3px solid #373867;
}

.features-container-icons {
  float: left;
  width: 10%;
  box-sizing: border-box;
  padding-top: 0px;
  margin-left: 20px;
}

.features-container h3 {
  width: 65%;
  height: 35px;
  margin-bottom: 9px;
  margin-left: 100px;

  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}

.features-container p {
  width: 65%;
  height: 107px;
  margin-bottom: 103px;
  margin-left: 100px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: #41426f;
}

.why-use {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 26px;
}

.why-use h2 {
  width: 420px;
  font-weight: 700px;
  font-size: 40px;
  line-height: 47px;
  border-bottom: 3px solid #373867;
  color: #373867;
}

.block-2 {
  float: left;
  width: 50%;
  height: 330px;
  box-sizing: border-box;
  border-bottom: 3px solid #373867;
  margin-top: auto;
}

.arrow-container {
  float: left;
  width: 10%;
  box-sizing: border-box;
}

.block-2 h3 {
  width: 100%;
  height: 18px;
  margin-top: 26px;
  margin-bottom: 9px;
  padding-left: 30px;

  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

  color: #373867;
}

.block-2 p {
  width: 436px;
  height: 46px;
  margin-bottom: 50px;
  padding-left: 75px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #373867;
}

.contact-form {
  width: 572px;
  height: 466px;
  display: inline-block;
  margin-left: 400px;
  padding-top: 10px;
  margin-bottom: 33px;

  background: #aace9b;
  border-radius: 20px;
  padding: 10px 12px;
}

.contact-form .form-group {
  display: inline-block;
  width: 260px;
  padding-left: 22px;
  margin-top: 19px;
  margin-bottom: 18px;
}

.contact-form .form-group label {
  display: block;
}

.contact-form .form-group input {
  display: block;
  width: 260px;
  height: 37px;
}

.contact-form .form-group1 {
  width: 530px;
  height: 60px;
  padding-left: 22px;
  margin-bottom: 100px;
}

.contact-form .form-group1 label {
  display: block;
}

.contact-form .form-group1 input {
  display: block;
  width: 260px;
  height: 37px;
}

.block-3-1 {
  float: left;
  width: 40%;
  height: 280px;
  box-sizing: border-box;
  border-top: 3px solid #373867;
}

.block-3-1 h2 {
  width: 144px;
  height: 35px;
  margin-bottom: 15px;
  margin-top: 45px;

  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #373867;
}

.block-3-1 p {
  width: 330px;
  height: 161px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #373867;
}

.block-3-2 {
  float: left;
  width: 60%;
  height: 280px;
  box-sizing: border-box;
  border-top: 3px solid #373867;
  padding-right: 50px;
}

.block-3-2 img {
  width: 100%;
  height: 211px;
  margin-top: 45px;
  margin-right: 50px;

  border-radius: 10px;
}

.block-4 {
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px;
}
.block-4 p {
  position: inherit;
  width: 95%;
  height: 90px;
  margin-bottom: 60px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #373867;
}

.block-5 {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  margin-top: 100px;
}

.block-5 h3 {
  width: 100%;
  height: 47px;
  border-top: 3px solid #373867;
  padding-top: 53px;
  padding-left: 70px;
  margin-top: 53px;
  margin-bottom: 28px;
  box-sizing: border-box;

  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  color: #373867;
}

.block-5 li {
  width: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  padding-left: 43px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #373867;
}
.block-5 .items {
  float: left;
  width: 32px;
  height: 20px;
  box-sizing: border-box;
  margin-bottom: 38px;
  margin-left: 20px;
}

footer {
  width: 85%;
  position: relative;
  background: #41426f;
}

.block-6 {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid salmon;
  align-self: center;

  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
}

.block-7 {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  border: 1px solid salmon;
}
