* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  text-decoration-color: none;
}

aside {
  display: none;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  aside {
    display: initial;
  }

  main {
    margin-left: 20%;
  }

  .burger-menu {
    display: none;
  }

}
